<mat-nav-list *ngIf="authSvc.currentUserAuthInfo">
    <mat-list>
        <mat-list-item
            *ngFor="let el of accountConfig let last = last"
            [routerLink]="el.routerUrl"
        >
            <mat-icon fontSet="material-icons-outlined" mat-list-icon>{{ el.icon }}</mat-icon>
            <p mat-line>{{ el.title }}</p>
            <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item>
                <mat-slide-toggle [formControl]="darkThemeCtrl">Dark Theme</mat-slide-toggle>
            </mat-list-item>
    </mat-list>
    <app-btn [lable]="'Log Out'" (click)="logout()"></app-btn>
</mat-nav-list>
<div *ngIf="!authSvc.currentUserAuthInfo" class="account-login-page">
    <app-btn
        *ngIf="!authSvc.currentUserAuthInfo"
        [lable]="'Login'"
        (click)="login()"
    ></app-btn>
</div>
