<mat-card class="card-container-action" matRipple>
    <div class="order-item-container">
        <div *ngFor="let el of order.productList" class="card-desc">
            {{ el.name }}
        </div>
    </div>
    <div *ngIf="order.productList.length >= 3" class="card-desc">
        ...
    </div>
    <div class="card-desc">Total {{ order.paymentAmt }}</div>
    <div class="modify-card-btn">
        <button mat-button color="primary" class="card-btn" [routerLink]=" order.id">
            {{order.paymentStatus==='paid'?'View details':'Pay now'}}
        </button>
    </div>
</mat-card>