<mat-card class="card-container-action" matRipple>
    <div class="order-item-container">
        <div *ngFor="let el of order.productList" class="card-desc">
            {{ el.name }}
        </div>
    </div>
    <div *ngIf="order.productList.length >= 3" class="card-desc">
        ...
    </div>
    <div class="card-desc" i18n>Total {{ order.paymentAmt }}</div>
    <div class="modify-card-btn">
        <button *ngIf="order.orderState.indexOf('NOT_PAID')>-1" mat-button color="primary" class="card-btn"
            [routerLink]="order.id">{{CONST_I18N.payNow}}</button>
        <button *ngIf="order.orderState.indexOf('NOT_PAID')===-1" mat-button color="primary" class="card-btn"
            [routerLink]="order.id">{{CONST_I18N.viewDetails}} </button>
    </div>
</mat-card>