<mat-card class="card-container-action">
    <div class="card-title">
        {{ order.cart.length }} item will be shipped to
        {{ order.shippingAddress.fullname }}
    </div>
    <div class="order-item-container">
        <div *ngFor="let el of order.cart" class="card-desc">
            {{ el.name }}
        </div>
    </div>
    <div *ngIf="order.cart.length >= 3" class="card-desc">
        ...
    </div>
    <div class="card-desc">Total {{ calcTotal() | currency: 'CAD' }}</div>
    <div class="modify-card-btn">
        <button
            mat-button
            color="primary"
            class="card-btn"
            [routerLink]="'/orders/' + order.id"
        >
            View details
        </button>
    </div>
</mat-card>
