<div [formGroup]="addressForm" class="form-container">
    <mat-form-field class="form-field">
        <input
            matInput
            placeholder="Enter Full name"
            formControlName="fullName"
        />
    </mat-form-field>
    <mat-form-field class="form-field">
        <input
            matInput
            placeholder="Enter Street and number, P.O. box,c/o."
            formControlName="line1"
        />
    </mat-form-field>

    <mat-form-field class="form-field">
        <input
            matInput
            placeholder="Apartment, suite, unit, building, floor, etc."
            formControlName="line2"
        />
    </mat-form-field>
    <mat-form-field class="form-field">
        <input matInput placeholder="Enter City" formControlName="city" />
    </mat-form-field>
    <mat-form-field class="form-field">
        <input
            matInput
            placeholder="Enter Postal Code"
            formControlName="postalCode"
        />
    </mat-form-field>
    <mat-form-field class="form-field">
        <input
            matInput
            placeholder="Enter Phone number"
            formControlName="phoneNumber"
        />
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>Select Country</mat-label>
        <mat-select formControlName="country">
            <mat-option value="Canada"
                >Canada</mat-option
            >
            <mat-option value="China">China</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>Select Province</mat-label>
        <mat-select formControlName="province">
            <mat-option value="ontario"
                >Ontario</mat-option
            >
            <mat-option value="quebec">Quebec</mat-option>
        </mat-select>
    </mat-form-field>
    <app-btn
        *ngIf="addAddress"
        label="'Create'"
        (click)="doCreate()"
        i18n-label
    ></app-btn>
    <app-btn
        *ngIf="!addAddress"
        label="'Update'"
        (click)="doUpdate()"
        i18n-label
    ></app-btn>
</div>
