<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Paid" >
        <div class="card-list">
            <app-card-order *ngFor="let el of paiedOrders" [order]="el"></app-card-order>
        </div>

        <div *ngIf="paiedOrders && paiedOrders.length === 0" class="empty-item-container-create">
            <span i18n>No item to display</span>
        </div>
    </mat-tab>
    <mat-tab label="Unpaid">
        <div class="card-list">
            <app-card-order *ngFor="let el of unpaiedOrders" [order]="el"></app-card-order>
        </div>
        <div *ngIf="unpaiedOrders && unpaiedOrders.length === 0" class="empty-item-container-create">
            <span i18n>No item to display</span>
        </div>
    </mat-tab>
</mat-tab-group>