<ng-container *ngIf="!address">
    <div>
        Loading
    </div>
</ng-container>
<div *ngIf="address && address.length == 0">
    <app-btn
        [lable]="'Add new address'"
        [routerLink]="'account/address'"
        [queryParams]="{ callbackUrl: 'order' }"
        (click)="dismiss()"
    ></app-btn>
</div>
<ng-container *ngIf="address && address.length != 0">
    <app-card-address
        *ngFor="let el of address"
        [address]="el"
        (click)="addressPicked($event, el)"
    >
    </app-card-address>
</ng-container>
