<ng-container *ngIf="productDetail">
    <div class="product-basic-image-container">
        <app-lazy-image *ngIf="productDetail.imageUrlLarge && productDetail.imageUrlLarge.length !== 0" class="product-basic-image"
            [lazySrc]="imageUrlPrefix+productDetail.imageUrlLarge[0]"></app-lazy-image>
        <app-lazy-image *ngIf="!productDetail.imageUrlLarge" class="product-basic-image"
            [lazySrc]="imageUrlPrefix+productDetail.imageUrlSmall"></app-lazy-image>
        <!-- <img *ngIf="!productDetail.imageUrlLarge" class="product-basic-image"
            [src]="imageUrlPrefix+productDetail.imageUrlSmall" /> -->
    </div>
    <div class="product-basic-detail-container">
        <div class="product-basic-title-container">
            <span class="product-basic-title">{{
                productDetail.name | titlecase
            }}</span>
            <span class="product-basic-title">{{
                productSvc.finalPrice | currency: 'CAD'
            }}</span>
        </div>
        <div class="product-basic-desc">
            {{ productDetail.description }}
        </div>
        <div class="product-basic-sale">
            {{ productDetail.sales===null ||productDetail.sales===undefined? 0 : productDetail.sales }} &nbsp; sold
        </div>
        <mat-divider *ngIf="productDetail.selectedOptions"></mat-divider>
        <div [formGroup]="productSvc.formProduct">
            <div *ngFor="let el of productDetail.selectedOptions; let last = last"
                class="product-basic-option-container">
                <div class="product-basic-option-title">
                    {{ el.title | titlecase }}
                </div>
                <mat-chip-list>
                    <mat-radio-group [formControlName]="el.title">
                        <mat-chip *ngFor="let ee of el.options">
                            <mat-radio-button [color]="'primary'" [value]="ee.optionValue" [labelPosition]="'before'">
                                {{ ee.optionValue }}
                            </mat-radio-button>
                        </mat-chip>
                    </mat-radio-group>
                </mat-chip-list>
                <mat-divider *ngIf="!last"></mat-divider>
            </div>
        </div>
    </div>
</ng-container>