.product-basic-desc{
    padding: 12px 0px 0px 0px;
    font-size: 14px;
    line-height: 18px;
    overflow-wrap: break-word;
}
.product-basic-detail-container{
    margin: 24px 8px 0px 8px;
}
.product-basic-price{
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    margin: 4px 0;
}
.product-basic-sale{
    font-size: 10px;
    margin: 8px 0;
    font-style: italic;
}
.product-basic-image{
    max-width: 100%;
    max-height: 50%;
}
.product-basic-title{
    font-size: 22px;
    font-weight: 500;
}
.product-basic-title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0px;
    align-items: center;
}

/**over write default style*/
.mat-list-base .mat-list-item {
    color: #000000;
}
.product-basic-price-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 8px 8px 8px;
}
.product-basic-option-title{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 12px;
}
.product-basic-option-container{
    padding: 8px 0px;
}
.mat-divider{
    border-top-color: #616161;
    margin-top: 8px;
}
.order-address-container{
    
}
.order-address-title{
    font-size: 24px;
    font-weight: 500;
    margin: 8px 0px;
}
.product-basic-image-container{
    text-align: center;
}