<mat-card class="custom-card" [routerLink]="
        '/categories/' + productSimple.category + '/' + productSimple.id
    ">
    <img mat-card-image [src]="productSimple.imageUrlSmall" />
    <mat-card-content>
        <div class="product-simple-desc">
            {{ productSimple.description }}
        </div>
        <div class="product-simple-price">
            <span>CAD $</span>{{ productSimple.price }}
        </div>
        <div class="product-simple-sale">
            {{ productSimple.sales===null ||productSimple.sales===undefined? 0 : productSimple.sales }} &nbsp; sold
        </div>
    </mat-card-content>
</mat-card>